.ctn_bottom {
  padding: vw(70) 0 0 0;
  &_inner {
    padding: 0 vw(50);
    margin: 0 auto;
  }
  .bx_art_top {
    padding-bottom: vw(70);
    border-bottom: 1px solid #000;
    article {
      display: flex;
      flex-direction: column;
      padding-top: vw(380);
      position: relative;
      &:nth-of-type(1) {
        padding: vw(313) 0 0 0;
        margin-bottom: vw(70);
        h3 {
          img {
            width: vw(592);
            height: vw(262);
          }
        }
      }
      &:nth-of-type(2) {
        padding: vw(380) 0 0 0;
        h3 {
          img {
            width: vw(590);
            height: vw(339);
          }
        }
      }
      .left {
        order: 2;
        h3 {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          text-align: center;
        }
        p {
          font-size: vw(24);
          line-height: vw(48);
          margin-top: vw(30);
          font-family: Hiragino Sans, sans-serif;
        }
        &_l {
          position: relative;
          margin-top: vw(30);
          li {
            font-size: vw(24);
            line-height: vw(48);
            display: flex;
            span {
              display: inline-block;
              vertical-align: top;
              width: vw(200);
            }
            em {
              display: inline-block;
              font-style: normal;
            }
          }
        }
      }
      figure {
        order: 1;
      }
    }
  }
  .bx_strength {
    padding: vw(70) 0;
    h3 {
      font-size: vw(34);
      font-weight: bold;
      font-family: Hiragino Sans, sans-serif;
      line-height: vw(40);
      text-align: center;
      margin-bottom: vw(20);
    }
    .txt_top {
      font-size: vw(24);
      font-family: Hiragino Sans, sans-serif;
      line-height: vw(48);
      text-align: center;
    }
    &_list_nb {
      display: flex;
      justify-content: space-between;
      margin-top: vw(50);
      li {
        text-align: center;
        &:nth-of-type(2) {
          margin-left: vw(35);
        }
        figure {
          img {
            width: vw(100);
            height: vw(100);
          }
        }
        em {
          font-style: normal;
          font-size: vw(15);
          line-height: vw(24);
          margin-top: vw(17);
          display: block;
          font-weight: bold;
          font-family: Hiragino Sans, sans-serif;
        }
      }
    }
    article {
      padding: vw(57) 0 0;
      h4 {
        display: flex;
        align-items: center;
        margin-bottom: vw(30);
        em {
          font-size: vw(32);
          line-height: vw(56);
          font-style: normal;
          font-weight: bold;
          font-family: Hiragino Sans, sans-serif;
          margin-left: vw(30);
        }
        img {
          width: vw(100);
          height: vw(100);
        }
      }
      p {
        font-size: vw(24);
        line-height: vw(48);
      }
    }
  }
}