.ctn_bottom {
  padding: 68px 0 0 0;
  &_inner {
    max-width: 1100px;
    margin: 0 auto;
  }
  .bx_art_top {
    padding-bottom: 65px;
    border-bottom: 1px solid #000;
    article {
      display: flex;
      justify-content: space-between;
      &:nth-of-type(1) {
        margin-bottom: 70px;
      }
      .left {
        width: calc(100% - 660px);
        padding-right: 50px;
        h3 {
          margin-bottom: 25px;
        }
        p {
          font-size: rem(16);
          line-height: 36px;
          font-family: Hiragino Sans, sans-serif;
        }
        &_l {
          position: relative;
          padding: 0 0 0 40px;
          margin-top: 35px;
          &:before {
            content: "";
            background: url(../img/bf_bx.png) no-repeat;
            width: 12px;
            height: 150px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          &:after {
            content: "";
            background: url(../img/af_bx.png) no-repeat;
            width: 12px;
            height: 150px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          li {
            font-size: rem(12);
            line-height: 25px;
            span {
              display: inline-block;
              vertical-align: top;
              width: 40px;
            }
            em {
              display: inline-block;
              font-style: normal;
            }
          }
        }
      }
      figure {
        width: 660px;
      }
    }
  }
  .bx_strength {
    padding: 65px 0 0 0;
    h3 {
      font-size: rem(34);
      font-weight: bold;
      font-family: Hiragino Sans, sans-serif;
      line-height: 40px;
      text-align: center;
      margin-bottom: 25px;
    }
    .txt_top {
      font-size: rem(21);
      font-family: Hiragino Sans, sans-serif;
      line-height: 40px;
      text-align: center;
    }
    &_list_nb {
      display: flex;
      justify-content: center;
      margin-top: 45px;
      padding-bottom: 50px;
      border-bottom: 1px solid #000;
      li {
        text-align: center;
        &:first-child {
          margin-right: 140px;
        }
        &:nth-child(2) {
          margin-right: 100px;
        }
        em {
          font-style: normal;
          font-size: rem(16);
          line-height: 26px;
          margin-top: 15px;
          display: block;
          font-family: Hiragino Sans, sans-serif;
        }
      }
    }
    article {
      padding: 45px 95px 70px;
      &:not(:last-child){
        border-bottom: 1px solid #000;
      }
      h4 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        em {
          font-size: rem(24);
          line-height: 29px;
          font-style: normal;
          font-weight: bold;
          font-family: Hiragino Sans, sans-serif;
          margin-left: 20px;
        }
        img {
          width: 85px;
          height: 85px;
        }
      }
      p{
        font-size: rem(16);
        line-height: 36px;
      }
    }
  }
}