.reno_ctl {
  padding: vw(70) vw(105);
  border-bottom: 1px solid #000;
  margin: 0 vw(50);
  width: calc(100% - #{vw(100)});
  position: relative;
  .main_slider {
    overflow: hidden;
    width: 100%;
    height: vw(537);
    position: relative;
  }
  &_l {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    li {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      border: 1px solid #000;
      cursor: pointer;
      display: none;
      &.open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &:nth-of-type(1) {
        .reno_ctl_l_t {
          h3 {
            width: vw(328);
          }
        }
      }
      &:nth-of-type(2) {
        .reno_ctl_l_t {
          h3 {
            width: vw(324);
          }
        }
      }
      &:nth-of-type(3) {
        .reno_ctl_l_t {
          h3 {
            width: vw(341);
          }
        }
      }
    }
    &_t {
      padding: vw(46) 0 vw(43);
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        width: vw(277);
      }
      h3 {
        margin-top: vw(40);
      }
    }
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_btn {
    &_c {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: vw(36);
      height: vw(36);
      text-indent: -9999px;
      overflow: hidden;
      display: inline-block;
      box-shadow: none;
      border: 0;
      outline: none;
    }
    &_prev {
      left: 0;
      background: url('../img/reno_prev.png') 0 0 no-repeat;
      background-size: contain;
    }
    &_next {
      right: 0;
      background: url('../img/reno_next.png') 0 0 no-repeat;
      background-size: contain;
    }
  }
}
.reno_sec {
  padding: vw(70) vw(50) 0;
  &_t {
    &_l {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-size: 0;
        width: vw(309);
      }
      h2 {
        font-size: 0;
        margin-top: vw(30);
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      p {
        font-size: 0;
        margin-top: vw(42);
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
    figure {
      margin-top: vw(42);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_m1 {
    margin-top: vw(68);
    h3 {
      * {
        display: block;
      }
      span {
        margin-top: vw(40);
      }
    }
    &_f {
      margin-top: vw(50);
      position: relative;
      
      figure {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          left: vw(20);
          bottom: vw(20);
        }
        &:nth-of-type(1) {
          margin-bottom: vw(96);
          &::after {
            width: vw(105);
            height: vw(17);
            background: url('../img/reno_before.png') 0 0 no-repeat;
            background-size: contain;
          }
          &::before {
            position: absolute;
            content: "";
            width: vw(48);
            height: vw(32);
            background: url('../img/arrow.png') bottom no-repeat;
            background-size: contain;
            bottom: vw(-62);
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
          }
        }
        &:nth-of-type(2) {
          &::after {
            width: vw(87);
            height: vw(17);
            background: url('../img/reno_after.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    p {
      margin-top: vw(30);
    }
  }
  &_m2 {
    margin-top: vw(100);
    &_wrap {
      margin-top: vw(40);
      article {
        &:not(:last-child) {
          margin-bottom: vw(50);
        }
      }
      &_t {
        h4 {
          margin-bottom: vw(32);
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      figure {
        margin-top: vw(40);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_b {
    margin-top: vw(98);
    figure {
      display: flex;
      flex-direction: column-reverse;
      > img {
        width: calc(100% + #{vw(100)});
        margin: 0 vw(-50);
        height: auto;
      }
      figcaption {
        margin-top: vw(68);
        margin-bottom: vw(40);
      }
    }
  }
}
.reno_yellow {
  display: flex;
  flex-direction: column-reverse;
  > * {
    width: 100%;
  }
}
.reno_family {
  &_l {
    h2 {
      width: vw(331);
    }
    p {
      width: vw(531);
    }
  }
  &_m2_wrap {
    article {
      &:nth-of-type(1) {
        h4 {
          width: vw(337);
        }
      }
      &:nth-of-type(2) {
        h4 {
          width: vw(437);
        }
      }
      &:nth-of-type(3) {
        h4 {
          width: vw(313);
        }
      }
    }
  }
}
.reno_single {
  &_l {
    h2 {
      width: vw(330);
    }
    p {
      width: vw(571);
    }
  }
  &_m2_wrap {
    article {
      &:nth-of-type(1) {
        h4 {
          width: vw(398);
        }
      }
      &:nth-of-type(2) {
        h4 {
          width: vw(537);
        }
      }
      &:nth-of-type(3) {
        h4 {
          width: vw(430);
        }
      }
    }
  }
}
.reno_dink {
  &_l {
    h2 {
      width: vw(343);
    }
    p {
      width: vw(531);
    }
  }
  &_m2_wrap {
    article {
      &:nth-of-type(1) {
        h4 {
          width: vw(563);
        }
      }
      &:nth-of-type(2) {
        h4 {
          width: vw(446);
        }
      }
      &:nth-of-type(3) {
        h4 {
          width: vw(596);
        }
      }
    }
  }
}