.reno_ctl {
  padding: 80px 0;
  border-bottom: 1px solid #000;
  &_l {
    display: flex;
    justify-content: space-between;
    li {
      width: 340px;
      border: 1px solid #000;
      cursor: pointer;
    }
    &_t {
      padding: 19px 0 33px 44px;
      p {
        padding: 0 0 0 20px;
        img {
          width: 210px;
          height: auto;
        }
      }
      h3 {
        margin-top: 30px;
        img {
          max-width: 257px;
          width: auto;
          height: auto;
        }
      }
    }
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.reno_sec {
  padding: 105px 0 93px;
  &_t {
    display: flex;
    justify-content: space-between;
    &_l {
      width: 333px;
      span {
        font-size: 0;
      }
      h2 {
        font-size: 0;
        margin-top: 28px;
      }
      p {
        font-size: 0;
        margin-top: 63px;
      }
    }
    figure {
      width: calc(100% - 333px);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_m1 {
    margin-top: 30px;
    h3 {
      display: flex;
      justify-content: space-between;
    }
    &_f {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 70px;
      &::after {
        position: absolute;
        content: "";
        width: 19px;
        height: 26px;
        background: url('../img/arrow.png') 0 0 no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      figure {
        width: 510px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          left: 15px;
          bottom: 15px;
        }
        &:nth-of-type(1) {
          &::after {
            width: 80px;
            height: 14px;
            background: url('../img/reno_before.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &:nth-of-type(2) {
          &::after {
            width: 66px;
            height: 14px;
            background: url('../img/reno_after.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        img {
          width: 100%;
          height: 340px;
          object-fit: cover;
        }
      }
    }
    p {
      margin-top: 29px;
    }
  }
  &_m2 {
    margin-top: 80px;
    &_wrap {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      article {
        width: 340px;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &_t {
        padding: 26px 30px;
        h4 {
          margin-bottom: 26px;
        }
      }
      figure {
        height: 220px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_b {
    margin-top: 75px;
    figure {
      margin-top: 40px;
      display: flex;
      border: 1px solid #000;
      align-items: center;
      > img {
        width: 728px;
        height: auto;
      }
      figcaption {
        width: calc(100% - 728px);
        padding: 0 0 0 35px;
      }
    }
  }
}