header{
  .logo{
    text-align: center;
    a{
      display: inline-block;
      line-height: 1;
      padding: vw(20) 0 vw(20);
      font-size: 0;
      img{
        width: vw(207);
        height: auto;
      }
    }
  }
}