.bx_tel{
  padding: vw(25) 0 vw(22);
  margin-top: -2px;
  text-align: center;
  background-color: #000;
  .txt_tel{
    &_f{
      img{
        width: vw(205);
      }
    }
    .tel{
      margin: 0 vw(5);
      img{
        width: vw(259);
      }
    }
    &_s{
      img{
        width: vw(41);
      }
    }
  }
  em{
    margin-top: vw(15);
    display: block;
    line-height: 0;
    img{
      width: vw(513);
    }
  }
}