.ctn_top {
  .banner {
    img {
      width: 100%;
      height: 85vh;
      object-fit: cover;
    }
  }
  .bx_life {
    background-color: #EEEEEE;
    padding: 68px 0;
    &_inner {
      max-width: 740px;
      margin: 0 auto;
      &_l {
        display: flex;
        flex-flow: row wrap;
        margin: 53px 0 88px;
        li {
          width: 50%;
          margin-bottom: 30px;
        }
      }
    }
    h3 {
      text-align: center;
    }
    .bt_about{
      position: relative;
      &:before{
        content:"";
        background: url(../img/icon_down.png) no-repeat;
        background-size: contain;
        width: 55px;
        height: 27px;
        position: absolute;
        top: -64px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}