.ctn_top {
  .banner {
    img {
      width: 100%;
      height: auto;
    }
  }
  .bx_life {
    background-color: #EEEEEE;
    padding: vw(70) 0;
    &_inner {
      max-width: vw(620);
      margin: 0 auto;
      &_l {
        margin: vw(58) auto vw(112);
        max-width: vw(365);
        li {
          margin-bottom: vw(30);
          &:nth-of-type(1){
            img{
              width: vw(334);
              height: vw(134)
            }
          }
          &:nth-of-type(2){
            img{
              width: vw(364);
              height: vw(134)
            }
          }
        }
      }
    }
    h3 {
      text-align: center;
      img{
        width: vw(518);
      }
    }
    .bt_about{
      position: relative;
      border: 2px solid #000;
      &:before{
        content:"";
        background: url(../img/icon_down.png) no-repeat;
        background-size: contain;
        width: vw(51);
        height: vw(23);
        position: absolute;
        top: vw(-65);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}