.bx_yl {
  background-color: #FFDA2B;
  padding: vw(48) 0 vw(52);
  &_inner {
    max-width: vw(620);
    margin: 0 auto;
    &_amz {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: vw(30) 0 vw(54);
      &_left{
        width: vw(316);
      }
      figure{
        img{
          width: vw(222);
        }
      }
    }
  }
  h3 {
    text-align: center;
  }
  .btn {
    text-align: center;
    width: vw(376);
    position: relative;
    transform: translateZ(0);
    margin: 0 auto;
    a {
      display: inline-block;
    }
  }
}