.bx_yl {
  background-color: #FFDA2B;
  padding: 70px 0 56px;
  &_inner {
    max-width: 599px;
    margin: 0 auto;
    &_amz {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 41px 0 50px;
    }
  }
  h3 {
    text-align: center;
  }
  .btn {
    text-align: center;
    width: 390px;
    position: relative;
    transform: translateZ(0);
    margin: 0 auto;
    a {
      display: inline-block;
      img {
        transition: transform 0.25s ease;
      }
    }
    &:hover {
      a {
        opacity: 1;
        img {
          opacity: 1;
          transform: translate(12px, 11px);
        }
      }
      &:before {
        transform: translate(12px, 0);
      }
    }
    &:before {
      content: "";
      background: url(../img/bf_btn.png) no-repeat;
      width: 19px;
      height: 24px;
      position: absolute;
      bottom: -11px;
      left: 6px;
      z-index: -1;
      transition: transform 0.25s ease;
    }
    &:after {
      content: "";
      background: url(../img/sh_btn.png) no-repeat;
      width: 390px;
      height: 72px;
      position: absolute;
      top: 12px;
      left: 17px;
      z-index: -1;
    }
  }
}