@charset "UTF-8";
@import "./_mixin/mixin";
@include min-screen() {
  @import "./_header_pc.scss";
  @import "./_top_pc.scss";
  @import "./_tel_pc.scss";
  @import "./_yellow_pc.scss";
  @import "./_dac_pc.scss";
  @import "./_bottom_pc.scss";
}
@include max-screen() {
  @import "./_header_sp.scss";
  @import "./_top_sp.scss";
  @import "./_tel_sp.scss";
  @import "./_yellow_sp.scss";
  @import "./_dac_sp.scss";
  @import "./_bottom_sp.scss";
}
.effect {
  transition: all 1s ease;
}
.delay_03 {
  transition: all 1s ease 0.3s;
}
.delay_06 {
  transition: all 1s ease 0.6s;
}
.delay_09 {
  transition: all 1s ease 0.9s;
}
.delay_12 {
  transition: all 1s ease 1.2s;
}
.delay_15 {
  transition: all 1s ease 1.5s;
}
.slideToRight {
  transform: translate3d(-100px,0,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.fadeIn {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}